
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    function exportData() {
        if ($("#exportCSV").prop("checked")) {
            location.replace("/tagging/ExportCSV?id={{id}}");
        } else {
            location.replace("/tagging/ExportXLSX?id={{id}}");
        }
    }

    function deleteData() {
        $.confirm({
          title: 'Confirm Deleting!',
          content: 'Are you sure you want to delete this DataSet?',
          buttons: {
            confirm: function () {
                  location.replace("/tagging/DeleteDataSet?id={{id}}");
            },
            cancel: function () {
            },
          }
        });
    }
</script>

<div class="col-sm-2 sidenav">
  <div class="well">
    <a href="{% url 'profile' %}"><p><span class="glyphicon glyphicon-folder-open"><p></p></span> Select Data</p></a>
  </div>
  <div class="well">
      <a href ="{% url 'importing' %}"><p><span class="glyphicon glyphicon-import"><p></p></span> Import Data</p></a>
  </div>
  <div class="well" id="colSelect">
      <a href ="{% url 'colSelect' %}?dataset={{id}}"><p><span class="glyphicon glyphicon-import"><p></p></span> Column Select</p></a>
  </div>
  <div class="well" id="exporting">
    <p><span class="glyphicon glyphicon-export"><p></p></span>Export Data</p>
      <input id="exportCSV" type="radio" name="fileformat" value="csv" checked>.csv
      <input id="exportXLSX" type="radio" name="fileformat" value="xlsx"> .xlsx <br>
      <button onclick="exportData()" type="submit" class="w3-btn w3-ripple w3-blue">Export</button>
  </div>

  <div class="well" id="deleting">
    <p><span class="glyphicon glyphicon-trash"><p></p></span>Delete Data</p>
    <button onclick="deleteData()" type="submit" class="w3-btn w3-ripple w3-blue">Delete</button>
  </div>


</div>
