{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
        <script>
            $(document).ready( function () {
              $('#userData').DataTable({"pageLength":1, "lengthMenu": [ [1], [1] ]});
              //[1, 10, 25, 50, -1], [1, 10, 25, 50, "All"]
              $('#exporting').show();
            });

            function addTag(){
                var data = {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'tag': $("#newTag").val().trim(),
                    'id': '{{id}}',
                };
                $.post('addtag', data, function(data) {
                    if (data.results) {
                        toastr.success('Tag added successfully');
                        $('#sidebar').append('<div data-tag="' + $("#newTag").val().trim() + '" id="' + $("#newTag").val().trim() +'" class="badge wordwrap" draggable="true" ondragstart="drag(event)">' + $("#newTag").val().trim() +'<div onclick="removeTag($(this).parent())" class="glyphicon glyphicon-remove closeIcon"></div></div>')
                        $("#newTag").val("");

                    }
                    else
                        toastr.error(data.message);
                });

            }

            function allowDrop(ev) {
                ev.preventDefault();
            }

            function removeTag(e) {
                var tag = $(e).attr('data-tag');
                var data = {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'tag': e.text().trim(),
                    'id': '{{id}}',
                };

                $.post('removetag', data, function(data) {
                    if (data.results) {
                        e.remove();
                        toastr.success('Tag removed successfully');
                        $("span[data-tag='" + tag + "']").remove();
                    } else {
                        toastr.error(data.message);
                    }
                });
            }

            function removeItemTag(e) {
                var data = {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'tag': $(e).attr("data-tag"),
                    'id': '{{id}}',
                    'rid': $(e).parent().attr("data-rid"),
                }
                $.post("RemoveItemTag", data, function(data) {
                    if (data.results) {
                        e.remove();
                        toastr.success("Tag removed successfully");
                    } else {
                        toastr.error(data.message);
                    }
                });
            }

            var targetStuff = "";

            function drag(ev) {
                ev.dataTransfer.setData("text/html", ev.target.id);
                targetStuff = ev.target.id;
            }


            function drop(ev) {
                ev.preventDefault();
                var rid = $(ev.target).attr("data-rid");
                var tags = [];
                targetStuff = targetStuff.trim();

                $("#data-" + rid).children('span').each(function(index, elem) {
                    tags.push($(elem).attr("data-tag"));
                });

                var data = {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'rid': rid,
                    'datasetId': '{{id}}',
                    'tags': tags
                };

                data.tags.push(targetStuff);

                // removing trailing whitespace
                for (var i = 0; i < data.tags.length; i++) {
                    data.tags[i] = data.tags[i].trim()
                    if (data.tags[i] == "") data.tags.splice(i, 1);
                }

                $.post('TagItem', data, function(data) {
                    if (data.result) {
                        toastr.success("Tag added successfully");
                        var span = "<span class='badge wordwrap tag' data-rid='" + rid + "' data-tag='" + targetStuff + "'>" + targetStuff + "<div onclick='removeItemTag($(this).parent())' class='glyphicon glyphicon-remove closeIcon'></div></span>";
                        $("#data-" + rid).append(span);
                    } else {
                        toastr.error(data.message);
                    }
                });
            }
        </script>
    </head>
    <body>
        {% include 'topBar-template.html' %}
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <h4>Create Tags</h4>

                    <div class="well">
                        <form>
                            <textarea id="newTag" name="newTag" placeholder="New Tag" class="textbox" rows="5" cols="30" style="width:100%; resize:none"></textarea>
                            <br>
                            <button type="button" onclick="addTag()" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </form>
                    </div>
                    <div class="well">
                      <h5><span class="glyphicon glyphicon-tag"></span>Tags</h5>
                      <div id="sidebar">
                        {% for tag in tags %}
                        <div id="{{tag}}" data-tag="{{tag}}" class="badge wordwrap" draggable="true" ondragstart="drag(event)" style="background-color:deepskyblue">{{tag}}<div onclick="removeTag($(this).parent())" class="glyphicon glyphicon-remove closeIcon"></div></div>
                        {% endfor %}
                      </div>
                   </div>
                </div>
                <div class="col-sm-8 text-left">
                    <h2> View Data</h2>
                    <hr>
                    <table id="userData" border="1">
                        <thead>
                            <tr>
                                {% for question in questions %}
                                    <td>{{question}}</td>
                                {% endfor %}
                                <td>Tags</td>
                            </tr>
                        </thead>
                        {% for row in data %}
                            <tr>
                                {% for response in row %}
                                    <td>{{response.response}}</td>
                                {% endfor %}
                                <td style="width:200px" id='data-{{row.0.rid}}' data-rid='{{row.0.rid}}' ondrop="drop(event)" ondragover="allowDrop(event)">
                                    {% for tag in row.0.tags %}
                                        <span class="badge wordwrap tag" data-rid='{{row.0.rid}}' data-tag='{{tag}}'>{{tag}}<div onclick="removeItemTag($(this).parent())" class="glyphicon glyphicon-remove closeIcon"></div></span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                {% include 'userSidebar-template.html' %}
            </div>

        </div>

    <footer class="container-fluid text-center">
        {% include 'footerTemplate.html' %}
    </footer>
</body>
</html>
