{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        
        <script>
            $(document).ready( function () {
                  $('.wiki').hide();
            });

            function show_wiki(id){
                if (document.getElementById) {
                    var id = document.getElementById(id);
                    var div = document.getElementsByClassName("wiki");
                    for(var i=0;i<div.length;i++) {
                        div[i].style.display = "none";
                    }
                    id.style.display = "block";
                } 
                return false;
            }
        </script>   
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                <p></p>
                <p></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h2>Blue Dawn Analysis Wiki</h2>
                    <hr>
                    <p>Welcome to the Blue Dawn Analysis Wiki page!  Within these pages you will find lots of valuable information on how to use this wonderful tool.  Click on the links in the side-bar to get started!</p>

                    <div class="btn-group">
                        <button onclick="show_wiki('account');" type="button" id="accountbtn" class="w3-btn w3-ripple w3-blue">Account</button>
                        <button onclick="show_wiki('importing');" type="button" id="importingbtn" class="w3-btn w3-ripple w3-blue">Importing DataSet</button>
                        <button onclick="show_wiki('tagging');" type="button" id="taggingbtn" class="w3-btn w3-ripple w3-blue">Tagging DataSet</button>
                        <button onclick="show_wiki('exporting');" type="button" id="exportingbtn" class="w3-btn w3-ripple w3-blue">Exporting DataSet</button>
                        <button onclick="show_wiki('hosting');" type="button" id="hostingbtn" class="w3-btn w3-ripple w3-blue">Hosting</button>
                    </div>
                    <div id="wikigrid">
                        <div id="account" class="wiki">
                            {% include 'wiki_accounts.html' %}
                        </div>
                        <div id="importing" class="wiki">
                            {% include 'wiki_importing.html' %}
                        </div>
                        <div id="tagging" class="wiki">
                            {% include 'wiki_tagging.html' %}
                        </div>
                        <div id="exporting" class="wiki">
                            {% include 'wiki_exporting.html' %}
                        </div>
                        <div id="hosting" class="wiki">
                            {% include 'wiki_hosting.html' %}
                        </div>
                    </div>

                </div>
                
            </div>
        
        </div>
                
    <footer class="container-fluid text-center">
        {% include 'footerTemplate.html' %}
    </footer>
</body>
</html>