{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                <p></p>
                <p></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h2>Blue Dawn Analysis Wiki</h2>
                    <hr>
                    <h3>Importing a Dataset</h3>
                	<p>Importing a dataset is a simple task:
                        <ol>
                            <li>Log in to your account if you are not already logged in.</li>
                            <li>Click on the “Import Data” button on the right sidebar.  This will take you to the importing page.</li>
                            <li>Provide a name for the dataset in the top text field.</li>
                            <li>Provide a short description of the dataset in the large text area.</li>
                            <li>Click on the “Browse” button below the description field to open your default file explorer.</li>
                            <li>Select the file you would like to import.  Our site currently accepts .xlsx and .csv files.</li>
                            <li>When you are ready, press the blue “Import” button to import the selected file.</li>
                            <li>You have now successfully imported your data!  You can now select this dataset for tagging or exporting.</li>
                        </ol>
                        <br>
                    </p>
                    <h3>Selecting a Dataset</h3>
                    <p>To select an imported dataset:
                        <ol>
                            <li>Log in to your account if you are not already logged in.</li>
                            <li>Go to your userpage.</li>
                            <li>At the top should be your username with a list of all imported datasets below it.</li>
                            <li>To select a dataset for use, click on its name in the list.  This will take you to the tagging page for this dataset.</li>                            
                        </ol>
                        <br>
                    </p>
                    <h3>Deleting a Dataset</h3>
                    <p>To remove an imported dataset from your account:
                        <ol>
                            <li>Log in to your account if you are not already logged in.</li>
                            <li>Go to your user page.</li>
                            <li>Find the dataset you wish to remove from the list of imported datasets.</li>
                            <li>Press the trashcan icon next to the dataset’s name to remove it from your account.</li>
                        </ol>
                        <br>
                    </p>
                </div>
                <div class="col-sm-2 sidenav">
                    {% include 'wikiSidebar-template.html' %}
                </div>
            </div>
        
        </div>
    
    <footer class="container-fluid text-center">
        {% include 'footerTemplate.html' %}
    </footer>
</body>
</html>