{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    
    <body>
        
        
        <div class="container-fluid text-center">
            
                <div class="col-sm-8 text-left">
                    
                    <hr>
                    <h3>Tagging a Dataset</h3>
                    <h4>Creating Tags</h4>
                    <p>To create a tag to use on your dataset:
                        <ol>
                            <li>Log in to your account if you are not already logged in.</li>
                            <li>Navigate to your user page.</li>
                            <li>Select the dataset you want to create a tag for.</li>
                            <li>On the Dataset page, enter the text for the tag in the large text area in the upper left corner.</li>
                            <li>Click the “+ Add” button to add the tag.</li>
                            <li>You can now use this tag on this dataset.</li>
                        </ol>
                        <br>
                    </p>
                    <h4>Deleting Tags</h4>
                    <p>To delete a tag from the dataset:
                        <ol>
                        </ol>
                        <br>
                    </p>
                    <h4>Adding Tags to a Response</h4>
                    <p>To assign tags to a response:
                        <ol>
                            <li>Log in to your account if you are not already logged in.</li>
                            <li>Navigate to your user page.</li>
                            <li>Select the dataset.</li>
                            <li>If the tag you want to use is not already created, create it.</li>
                            <li>Click and drag the tag you want from the list of tags in the lower left corner to the response you want to tag.  The tag should now be displayed in the list of tags for that response.</li>
                        </ol>
                        <br>
                    </p>
                    <h4>Removing Tags from a Response</h4>
                    <p>To remove a tag from a response:
                        <ol>
                        </ol>
                        <br>
                    </p>
                </div>
                
            </div>
        
        </div>
    
    
</body>
</html>