{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                <p></p>
                <p></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h2>Blue Dawn Analysis Wiki</h2>
                    <hr>
                    <h3>Exporting</h3>
                    <p>To export a dataset:
                        <ol>
                            <li><p>Go to the user page by either clicking on user page in the navbar or select data in side bar</p></li>
                            <li><p>Then select the dataset that you want from the list</p></li>
                            <li><p>From the sidebar in the dataset page, choose the file type (CSV or Xlsx) and click on "Export" button.<p><br><img style="width:100%; height:100%; margin:-8px;" src="{% static 'assets/wiki/tagging1.png' %}" alt="tagging page" /></p><p>This is a screenshot of the tagging page</p></p></li>
                        </ol>
                    </p>
                </div>
                <div class="col-sm-2 wiki sidenav">
                        {% include 'wikiSidebar-template.html' %}
                </div>
            </div>
        
        </div>
    
    <footer class="container-fluid text-center">
        {% include 'footerTemplate.html' %}
    </footer>
</body>
</html>