{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                <p></p>
                <p></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h2>Blue Dawn Analysis Wiki</h2>
                    <hr>
                    <h3>Tagging a Dataset</h3>
                    <h4>Creating Tags</h4>
                    <p>To create a tag to use on your dataset:
                        <ol>
                            <li><p><a href= {% url 'login' %}>Log in</a> to your account if you are not already logged in.</p></li>
                            <li><p>Navigate to your user page.</p></li>
                            <li><p>Select the dataset you want to create a tag for.</p></li>
                            <li><p>On the Dataset page, enter the text for the tag in the large text area in the upper left corner.</p></li>
                            <li><p>Click the “+ Add” button to add the tag.</p></li>
                            <li><p>You can now use this tag on this dataset.<p><br><img style="width:100%; height:100%; margin:-8px;" src="{% static 'assets/wiki/tagging2.png' %}" alt="tagging page" /></p><p>This is a screenshot of the tagging page</p></p></li>
                        </ol>
                        <br>
                    </p>
                    <h4>Deleting Tags</h4>
                    <p>To delete a tag from the dataset:
                        <ol>
                            <li><p><a href= {% url 'login' %}>Log in</a> to your account if you are not already logged in.</p></li>
                            <li><p>Navigate to your user page.</p></li>
                            <li><p>Select the dataset.</p></li>
                            <li><p>Click on the "x" next to the tag you want to remove from the list of tags.  This will remove the tag from that response.</p></li>
                        </ol>
                        <br>
                    </p>
                    <h4>Adding Tags to a Response</h4>
                    <p>To assign tags to a response:
                        <ol>
                            <li><p><a href= {% url 'login' %}>Log in</a> to your account if you are not already logged in.</p></li>
                            <li><p>Navigate to your user page.</p></li>
                            <li><p>Select the dataset.</p></li>
                            <li><p>If the tag you want to use is not already created, create it.</p></li>
                            <li><p>Click and drag the tag you want from the list of tags in the lower left corner to the response you want to tag.  The tag should now be displayed in the list of tags for that response.</p></li>
                        </ol>
                        <br>
                    </p>
                    <h4>Removing Tags from a Response</h4>
                    <p>To remove a tag from a response:
                        <ol>
                            <li><p><a href= {% url 'login' %}>Log in</a> to your account if you are not already logged in.</p></li>
                            <li><p>Navigate to your user page.</p></li>
                            <li><p>Select the dataset.</p></li>
                            <li><p>Click on the "x" next to the tag you want to remove from the response.  This will remove the tag from that response.</p></li>
                        </ol>
                        <br>
                    </p>
                </div>
                <div class="col-sm-2 wiki sidenav">
                    {% include 'wikiSidebar-template.html' %}
                </div>
            </div>
        
        </div>
    
    <footer class="container-fluid text-center">
        {% include 'footerTemplate.html' %}
    </footer>
</body>
</html>