{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style>
            tr:hover {
                background-color: #a2c0ef;
            }
        </style>
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <p></p>
                    <p></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h2><span class="glyphicon glyphicon-user"></span> {{username}}</h2>
                    <hr>
                    <table>
                        {% for item in data %}
                        <tr>
                            <td onclick="location.href='{% url 'viewdata' %}?dataset=' + id" id='data-{{item.id}}'>{{item.name}}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                {% include 'userSidebar-template.html' %}
            </div>
        
        </div>
    
    <footer class="container-fluid text-center">
        {% include 'footerTemplate.html' %}
    </footer>
    
    
    </body>

</html>
