{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                <p></p>
                <p></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h2>Email Confirmation Complete</h2>
                    <p></p>
                    <hr>
                    {% block content %}
  						<p>
    						Your email confirmation has been successfully completed. You can go ahead and <a class="w3-btn w3-ripple w3-blue" href="{% url 'login' %}" role="button"> Login </a> now.
  						</p>
					{% endblock %}
		            
                </div>
                <div class="col-sm-2 sidenav">
                </div>
            </div>
        
        </div>
    
    <footer class="container-fluid text-center">
  <p>Footer</p>
</footer>
    
    
</body>
</html>


