<form method="post">
    {% csrf_token %}
                            <!--<textarea name='newTag' class='textbox' rows='5' cols='30' style='width:100%; resize:none'>New Tag
                            </textarea>-->
    <input type='text' name='taging'>
    <br>
                            <!--<button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add
                            </button>-->
    <input type="submit" name="tagsub">
</form>