{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blue Dawn Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function addTag(){
               
            }
            function exportData(){
                
            }                                                                 
        </script>
    </head>
    <body>
        {% include 'topBar-template.html' %}
        
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <h4>Create Tags</h4>
                    
                    <div class="well">
                        <form>
                            <textarea name="newTag" class="textbox" rows="5" cols="30" style="width:100%; resize:none">New Tag
                            </textarea>
                            <br>
                            <button type="button" onclick="addTag()" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </form>
                    </div>
                    <div class="well">
                      <h5><span class="glyphicon glyphicon-tag"></span>Tags</h5>
                      <div id="sidebar">
                          <span class="badge" style="background-color:deepskyblue">Tag 1 
                             <span class="glyphicon glyphicon-remove"></span> 
                          </span>
                      </div>
                   </div>
                </div>
                <div class="col-sm-8 text-left">
                    <h2> View Data</h2>
                    <hr>
                    <table border="1">
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Tag</th>
                        </tr>
                        {% for item in data %}
                        <tr>
                            <td>{{item.question}}</td>
                            <td>{{item.answer}}</td>
                            <td>{{item.tag}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
                {% include 'userSidebar-template.html' %}
            </div>
        
        </div>
    
    <footer class="container-fluid text-center">
  <p>Blue Dawn Analysis</p>
</footer>
</body>
</html>
